{% extends 'base.html.twig' %}

{% block title %}Edit Court{% endblock %}

{% block body %}
    <h1>Edit Court</h1>

    {{ include('court/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('court_index') }}">back to list</a>

    {{ include('court/_delete_form.html.twig') }}
{% endblock %}
